<div class="top-grid">
  <tz-time-editor tai
      [options]="{ showDstSymbol: true, showOccurrence: true, showSeconds: true, showUtcOffset: true }"
      [(ngModel)]="time"
      [nativeDateTime]="native"></tz-time-editor>
  <span>Locale time, with occurrence, UTC offset and DST symbol</span>
  <div>
      <button (click)="setCurrentTime()">Set now</button>
      <button (click)="time = 1636264837000">Sample time</button>
      <button (click)="time = 1483228836000">Sample leap second</button>
      <label *ngIf="mobile" for="native">Mobile native date/time</label>
      <input *ngIf="mobile" id="native" type="checkbox" (change)="native = $any($event.target).checked"/><br>
  </div>
  <span>&nbsp;</span>

  <tz-time-editor tai
      [options]="['iso', { showSeconds: true }]"
      timezone="UTC"
      [(ngModel)]="time"></tz-time-editor>
  <span>UTC, in ISO-8601 date/time format</span>

  <tz-time-editor tai
      [options]="{ yearStyle: 1 }"
      [(ngModel)]="time"></tz-time-editor>
  <span>Local with AD/BC</span>

  <tz-time-editor tai
      [options]="{ twoDigitYear: true }"
      [(ngModel)]="time"></tz-time-editor>
  <span>Local with two-digit year</span>

  <tz-time-editor tai
      [options]="['iso', { dateTimeStyle: 2, millisDigits: 3 }]"
      timezone="UTC"
      [(ngModel)]="time"></tz-time-editor>
  <span>UTC time only, with milliseconds</span>
</div><br>

<div class="bottom-grid">
  <span>Arabic, general, AD/BC</span>
  <span>Arabic, Egypt</span>
  <span>Hebrew, forced AM/PM form</span>

  <tz-time-editor tai
      [options]="$any({ locale: 'ar', yearStyle: 1, numbering: 'latn' })"
      timezone="Africa/Cairo"
      [(ngModel)]="time"></tz-time-editor>
  <tz-time-editor tai
      [options]="{ locale: 'ar-EG' }"
      timezone="Africa/Cairo"
      [(ngModel)]="time"></tz-time-editor>
  <tz-time-editor tai
      [options]="{ hourStyle: 2, locale: 'he' }"
      timezone="Asia/Jerusalem"
      [(ngModel)]="time"></tz-time-editor>

  <span class="text-time" dir="rtl">{{ format('Africa/Cairo', 'ar', 'Y/MM/DD N hh:mm A')}}</span>
  <span class="text-time" dir="rtl">{{ format('Africa/Cairo', 'ar-EG', 'ISS')}}</span>
  <span class="text-time" dir="rtl">{{ format('Asia/Jerusalem', 'he', 'DD.MM.Y, hh:mm A')}}</span>

  <span>Bengali</span>
  <span>German</span>
  <span>Chinese</span>

  <tz-time-editor tai
      [options]="{ locale: 'bn' }"
      timezone="Asia/Dhaka"
      [(ngModel)]="time"></tz-time-editor>
  <tz-time-editor tai
      [options]="{ locale: 'de' }"
      timezone="Europe/Berlin"
      [(ngModel)]="time"></tz-time-editor>
  <tz-time-editor tai
      [options]="{ locale: 'zh' }"
      timezone="Asia/Shanghai"
      [(ngModel)]="time"></tz-time-editor>

  <span class="text-time">{{format('Asia/Dhaka', 'bn', 'DD/MM/Y hh:mm A')}}</span>
  <span class="text-time">{{format('Europe/Berlin', 'de', 'DD.MM.Y, HH:mm')}}</span>
  <span class="text-time">{{format('Asia/Shanghai', 'zh', 'ISS')}}</span>
</div><br>

<div class='custom-config'>
  <label>Locale: <input type="text" width="15" [(ngModel)]="customLocale" [style.background-color]="localeGood ? 'inherit' : '#FBC'"></label>
  <label>IANA timezone: <input type="text" width="15" [(ngModel)]="customTimezone" [style.background-color]="timezoneGood ? 'inherit' : '#FBC'"></label>
  <div style="flex-basis: 100%; height: 0.5em">&nbsp;</div>
  <select style="margin-left: 0" [(ngModel)]="customStyle">
    <option value="0">Date and time</option>
    <option value="1">Date only</option>
    <option value="2">Time only</option>
  </select>
  <select *ngIf="customStyle !== '2'" [(ngModel)]="yearStyle">
    <option value="0">Positive-only years</option>
    <option value="1">AD/BC years</option>
    <option value="2">Signed years</option>
  </select>
  <select *ngIf="customStyle !== '2'" [(ngModel)]="customYear">
    <option value="">Year length per locale</option>
    <option value="false">4/variable-digit year</option>
    <option value="true">2-digit year</option>
  </select>
  <select *ngIf="customStyle !== '1'" [(ngModel)]="customCycle">
    <option value="0">12/24 hours, per locale</option>
    <option value="1">24-hour time</option>
    <option value="2">AM/PM time</option>
  </select>
  <label *ngIf="customStyle !== '1'"><input type="checkbox" [(ngModel)]="showSeconds">Show seconds</label>
</div>

<div class='custom-time'>
  &nbsp;<span>{{getCustomCaption()}}</span><br>

  <tz-time-editor tai
      [options]="getOptions()"
      [timezone]="customTimezone"
      [(ngModel)]="time"></tz-time-editor><br>

  &nbsp;<span class="text-time" dir="auto">{{format(customTimezone, customLocale, getFormat())}}</span>
</div>
