<tz-time-editor tai style="font-size: 1.5em"
    [options]="{ showOccurrence: true, showSeconds: true }"
    timezone="America/New_York"
    [(ngModel)]="time"
    [nativeDateTime]="native"></tz-time-editor>
  &nbsp;<button (click)="setCurrentTime()">Now</button>
  &nbsp;<button (click)="time = 1636264837000">Sample time</button>
  &nbsp;<button (click)="time = 1483228836000">Sample leap</button><br>
<!--  &nbsp;<label for="native">Native date/time</label>-->
<!--   <input id="native" type="checkbox" (change)="native = $any($event.target).checked"/><br> --><br>
<tz-time-editor tai style="font-size: 1.5em"
    [options]="['iso', { showDstSymbol: true, showOccurrence: true, showUtcOffset: true }]"
    timezone="America/New_York"
    [(ngModel)]="time"></tz-time-editor><br><br>
<tz-time-editor tai style="font-size: 1.5em"
    [options]="{ yearStyle: 1 }"
    [(ngModel)]="time"></tz-time-editor><br><br>
<tz-time-editor tai style="font-size: 1.5em"
    [options]="{ twoDigitYear: true }"
    [(ngModel)]="time"></tz-time-editor><br><br>
<tz-time-editor tai style="font-size: 1.5em"
    [options]="['iso', { millisDigits: 3, showDstSymbol: true, showOccurrence: true, showUtcOffset: true }]"
    timezone="Europe/Dublin"
    [(ngModel)]="time"></tz-time-editor><br><br>
<tz-time-editor tai style="font-size: 1.5em"
    [options]="{ hourStyle: 2, locale: 'ar', yearStyle: 1 }"
    [(ngModel)]="time"></tz-time-editor><br>
<span dir="rtl">{{ format(null, 'ar', { minute: '2-digit', hour: '2-digit', hourCycle: 'h12', year: 'numeric',
  month: '2-digit', day: '2-digit', era: 'short' })}}</span><br><br>
<tz-time-editor tai style="font-size: 1.5em"
    [options]="{ hourStyle: 2, locale: 'ar-EG' }"
    [(ngModel)]="time"></tz-time-editor><br>
<span dir="rtl">{{ format(null, 'ar-EG', 'ISS')}}</span><br><br>
<tz-time-editor tai style="font-size: 1.5em"
    [options]="{ hourStyle: 2, locale: 'he' }"
    [(ngModel)]="time"></tz-time-editor><br>
<span dir="rtl">{{ format(null, 'he', { dateStyle: 'short', timeStyle: 'short', hourCycle: 'h12'})}}</span><br><br>
<tz-time-editor tai style="font-size: 1.5em"
    [options]="{ locale: 'bn' }"
    [(ngModel)]="time"></tz-time-editor><br>
<span dir="rtl">{{ format(null, 'bn', 'ISS')}}</span><br><br>
