body {
  margin: 0;
  height: max(100vh, 100%);
  padding: 0;

  div.content {
    box-sizing: border-box;
    padding: 1em;
    height: max(100vh, 100%);
  }
}

.app-dark-mode,
.app-dark-mode input,
.app-dark-mode select,
{
  background-color: #333;
  color: #EEE;
}
